<nav class="navbar navbar-expand-lg">
  <div class="container-fluid ">
    <a class="navbar-brand" routerLink="">
      <img src="favicon.ico" alt="logo" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse header" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="Health">Health News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="Technology">Technology News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="Sport">Sport News</a>
        </li>

      </ul>

      <button class=" btn btn-warning ">Favourites</button>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<footer>
  <p class=" text-center">
    <span>&copy;</span> & <span>&reg;</span> Created by Meriem Amdouni-2022
  </p>
</footer>
